
<h1>Stupid Coaching</h1>
<div class = ask>
<h3><%= @ask %></h3>
<p><%= "-You" %></p>
</div>
<br>
<div class = answer>
<h3><%= @answer %></h3>
<p><%= "-Your coach" %></p>
</div>
<br>
<br><%= link_to "Ask an new question", ask_path %>